<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html" />
  <meta charset="utf-8" />
  <title>404 - No such document!</title>
  <meta name="description" content="A generic page for a missing document in ar5iv">
  <meta name="language" content="English">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link media="all" rel="stylesheet" href="{{AR5IV_CSS_URL}}">
  <link media="all" rel="stylesheet" href="/assets/ar5iv.css">
</head>

<body>
  <div class="ltx_page_main">
    <div class="ltx_page_content">
      <article class="ltx_document">
        <h1 class="ltx_title ltx_title_document"><img src="/assets/ar5iv.png" height="64"> <br>No document for <span
            class="ltx_font_bold">{{ id
            }}</span>
        </h1>

        <section id="S1" class="ltx_section" style="margin-top: 5rem;">
          <div class="ltx_para">
            <p class="ltx_p">We are usually at least a month behind the live arXiv article list.</p>
            <p class="ltx_p">Also, we can only serve papers submitted with their LaTeX sources.</p>
            <p class="ltx_p"><a class="ltx_ref" href="/">Back to homepage</a></p>
          </div>
        </section>
      </article>
    </div>
  </div>
  <footer
    style="border:none; text-align: center; position: absolute; bottom: 0; width: 100%; height: 2.5rem; margin-bottom: 2rem;">
    <div><a href="https://github.com/dginev/ar5iv">
        <svg aria-hidden="true" height="32" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true"
          class="octicon octicon-mark-github">
          <path fill-rule="evenodd"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
          </path>
        </svg>
      </a>
  </footer>
  </div>

</body>

</html>