<!DOCTYPE html>
<html data-theme="dark" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html" />
  <meta name="robots" content="noindex">
  <meta charset="utf-8" />
  <title>404 - No such document!</title>
  <meta name="description" content="A generic page for a missing document in ar5iv">
  <meta name="language" content="English">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link media="all" rel="stylesheet" href="{{AR5IV_CSS_URL}}">
  <link media="all" rel="stylesheet" href="{{SITE_CSS_URL}}">
</head>

<body>
  <div class="ltx_page_main">
    <div class="ltx_page_content">
      <article class="ltx_document">
        <h1 class="ltx_title ltx_title_document"><img class="ar5iv_logo" src="/assets/ar5iv_halloween.png" height="64"> <br>No document for <span
            class="ltx_font_bold">{{ id
            }}</span>
        </h1>

        <section id="S1" class="ltx_section" style="margin-top: 5rem;">
          <div class="ltx_para">
            <p class="ltx_p">We are usually at least a month behind the live arXiv article list.</p>
            <p class="ltx_p">Also, we can only serve papers submitted with their LaTeX sources.</p>
            <p class="ltx_p"><a class="ltx_ref" href="/">Back to homepage</a></p>
          </div>
        </section>
      </article>
    </div>
  </div>
</body>

</html>