<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html" />
  <meta charset="utf-8" />
  <title> No content available </title>
  <meta name="language" content="English">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link media="all" rel="stylesheet" href="//cdn.jsdelivr.net/gh/dginev/arxmliv-css@0.4.1/css/arxmliv.css">
</head>

<body>
  <div class="ltx_page_main">
    <div class="ltx_page_content">
      <article class="ltx_document">
        <h1 class="ltx_title ltx_title_document"><img src="/assets/ar5iv.png" height="64"><br>Articles from
          <a class="ltx_ref" href="https://arxiv.org/">arXiv.org</a> as
          responsive HTML<span style="color:#e44d26">5</span> web pages.
        </h1>

        <section id="S1" class="ltx_section" style="margin-top: 5rem;">
          <div class="ltx_para">
            <ul style="list-style-type: circle;">
              <li style="margin-bottom: 2rem;"> Converted from TeX with <a class="ltx_ref"
                  href="https://github.com/brucemiller/LaTeXML">LaTeXML</a>,
                via the
                <a class="ltx_ref" href="https://github.com/dginev/CorTeX#-framework">CorTeX</a> framework.
              </li>
              <li style="margin-bottom: 2rem;">Sources upto October 2021. <span class="ltx_font_bold">Not</span> a
                live
                preview
                service.</li>
              <li style="margin-bottom: 5rem;"><span class="ltx_font_bold">Goal:</span> incremental improvement until
                worthy of native arXiv
                adoption.
              </li>
            </ul>
          </div>

          <div class="ltx_para">
            <p class="ltx_p"><span>Sample: <a class="ltx_ref" href="/html/1910.06709">A Simple Proof of the Quadratic
                  Formula
                  (1910.06709)</a></span></p>
            <p class="ltx_p">View any ar<span class="ltx_font_bold">X</span>iv article URL by changing the <span
                class="ltx_font_bold">X</span>
              to a <span style="color:#e44d26">5</span></p>
            <ul>
              <li>https://ar<span class="ltx_font_bold">x</span>iv.org/abs/1910.06709</li>
              <li>https://ar<span style="color:#e44d26">5</span>iv.org/abs/1910.06709</li>
            </ul>
          </div>
        </section>
      </article>
    </div>
  </div>
</body>

</html>